[alias]
  s = status
  sw = "!git switch $(git branch -a|sed 's#remotes/[^/]*/##'|sort -u|fzf)"
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all

[user]
  email = per-christian.berg
  name = perchrib

[core]
  editor = nvim
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  dark = true
  side-by-side = false
  line-numbers = true
  features = decorations
  tabs = 2

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[merge]
  conflictstyle = zdiff3
  tool = nvimdiff

[diff]
  tool = nvim_difftool
  algorithm = histogram
  colorMoved = default

[difftool "nvim_difftool"]
  cmd = nvim -c "packadd nvim.difftool" -c "DiffTool $LOCAL $REMOTE"

[difftool]
  prompt = false

[fetch]
	prune = true

[log]
	date = auto:human
